<!DOCTYPE html>
<html>
  <head>
    <title>ApiTrain</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <% if current_user %>
     <%= link_to('登出', destroy_user_session_path, :method => :delete) %>
    <%= link_to('修改密码', edit_registration_path(:user)) %>
  <% else %>
    <%= link_to('注册', new_registration_path(:user)) %> |
    <%= link_to('登入', new_session_path(:user)) %>
   <% end %>


    <%= yield %>
  </body>
</html>
